@import "tailwindcss";

:root {
    --black: #000000;
    --purple: #7442C8;
    --white: #FFFFF0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 16px;
    background: var(--white);
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.title-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: "p22-mackinac-pro", serif;
    color: var(--black);
}


.title {
    position: relative;
    top: -5rem;
    font-size: 14rem;
    font-weight: 500;
    color: var(--black);

    text-align: center;
    height: 5rem;
}

.title:nth-child(1) {
    opacity: 15%;
    top: 0rem;
}

.title:nth-child(2) {
    opacity: 30%;
}

.title:nth-child(3) {
    height: 15rem;
    top: -10rem;
}

.title-mask {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.stand {
    margin-bottom: 5rem;
    height: 60vh;
}

.initial-description {
    text-align: center;
    font-size: 2rem;
}

.cta-mask {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.button {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.cta-button {
    text-align: center;
    font-size: 3rem;
    color: var(--black);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.4s;
}

.cta-button:hover {
    cursor: pointer;
}


.nat-description-mask {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.nat-description {
    margin: 3rem;

    margin: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nat-images {
    display: flex;
    flex-direction: row;
}

.pic {
    margin: auto;
    width: 30%;

    margin-bottom: 5rem;
}

.vertical {
    width: 20%;
}

.description-text {
    font-family: "neue-haas-grotesk-display", sans-serif;
    margin-left: 10rem;
    margin-right: 10rem;

    font-size: 2rem;
}

.block {
    height: 10rem;
}

.description-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 2rem;
}

.desc-item {
    text-align: center;
    margin: 3rem;
}

@media (max-width: 767px) {
    .title-mask {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        max-height: 15rem;
    }

    .title {
        font-size: 7rem;
    }

    .stand {
        margin-bottom: 4rem;
        height: 75vh;
    }

    .initial-description {
        text-align: center;
        font-size: 1.5rem;
        max-width: 80%;
        margin: auto;
    }

    .nat-images {
        flex-direction: column;
    }

    .pic {
        width: 70%;
    }
    
    .vertical {
        width: 70%;
    }

    .description-text {
        font-family: "neue-haas-grotesk-display", sans-serif;
        margin-left: 2rem;
        margin-right: 2rem;

        font-size: 1.5rem;
    }

    .description-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.5rem;
    }

    .desc-item {
        text-align: center;
        margin: 1rem;
    }

    #im2 {
        margin-top: 2rem;
    }
}
